.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 700px;
}
form {
  display: flex;
  flex-direction: column;
}
.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  margin: 10px 0;
}
button {
  width: 70px;
}
input {
  padding: 5px;
  margin: 5px 0;
}
th {
  min-width: 100px;
  border: 1px solid grey;
  padding: 5px;
  background-color: #205645;
  color: white;
}